* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.dark{
    background-color: #222;
    color: #f8f9fa;
}

.white{
    background-color: #f8f9fa ;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    color: #222;
    transition: .3s;
}


nav{
    display: flex;
    /* border: 1px solid #222; */
    background-color: #222;
    width: 100%;
    position: fixed;
    bottom: 0;
    /* box-shadow: 0px -10px 80px rgba(0, 0, 0, .5); */
    transition: .3s;
}



a{
    padding: 20px;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: .3s ease;
}

a:hover{
    background-color: tomato;
    cursor: pointer;
}

img{
    width: 200px;
    position: relative;
    margin-bottom: 50px;
    animation: jedagJedug 1s infinite;
}

@keyframes jedagJedug{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}